<!DOCTYPE html>
<html lang="en">
<head>
  <title>Smart Water Consumption</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body> 
 
<div class="container">
    <br><br>
  <h2 align="center">Smart Water Conservation</h2>
  <br>
  <!--<p align="center">Developed by Arko Chatterjee<br><a href="https://arkochatterjee.github.io" target="_blank">arkochatterjee.github.io</a></p> -->
  <div class="card-deck">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text"><strong>Flow Rate</strong></p>
        <p class="card-text"><strong>{{ flowrate }}</strong></p>
        
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
            <p class="card-text"><strong>Temperature</strong></p>
            <p class="card-text"><strong>{{ temp }}</strong></p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
            <p class="card-text"><strong>pH</strong></p>   
            <p class="card-text"><strong>{{ pH }}</strong></p>  
            </div>
    </div>
   
  </div>
</div>

</body>
</html>
